@page
@model BookBorrowManagement.Pages.Users_Books_Management.DeleteModel

@{
    ViewData["Title"] = "Delete Existing Contract";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User_Book_Management</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Book_Management.BorrowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Book_Management.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Book_Management.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Book_Management.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Book_Management.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Book_Management.Book.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User_Book_Management.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
