@page
@model BookBorrowManagement.Pages.Users_Books_Management.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Book_Management[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Book_Management[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Book_Management[0].User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Book_Management[0].Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Book_Management[0].Book.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User_Book_Management) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Status)
            </td>
            <td>
                @{
                    Model.ID = item.Id;
                }
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                <form method="post">
                     <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Return" class="btn btn-primary" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
